# Tuples :-
- Tuples are closed in paranthesis "( )"
- Tuples are immutable i.e., elements inside a tuple cannot be mdified.
- Modifications are not possible in Tuples.
- Tuples are used only to access the data

# Differences Between Lists and Tuples :-
- list --> []   , Tuples --> ()
- List is mutable (Changes can be made) , Tuple is immutable (Changes cannot be made).

In [8]:
t1 = (1,2,"Kalyan")
print(t1)
type(t1)

(1, 2, 'Kalyan')

tuple

In [9]:
t1[0]

1

In [10]:
t1[0:]

(1, 2, 'Kalyan')

In [11]:
t1[0:3]

(1, 2, 'Kalyan')

In [14]:
print(range(len(t1)))

range(0, 3)

# Dictionaries :-
- Dictionaries are closed in "{ }"
- It consists of key value pairs
- Each key is seperated to its value by a colon(:)
- Each key value pair  is seperated with other pairs with comma(,)
- Keys must be unique while creating a dictionary

In [15]:
d1 = {"Name":"Kalyan","Rollno":221710310010,"Email-Id":"svnkalyan@gmail.com","Address":"Hyd"}
d1

{'Name': 'Kalyan',
 'Rollno': 221710310010,
 'Email-Id': 'svnkalyan@gmail.com',
 'Address': 'Hyd'}

In [20]:
print(d1)
type(d1)

{'Name': 'Kalyan', 'Rollno': 221710310010, 'Email-Id': 'svnkalyan@gmail.com', 'Address': 'Hyd'}

dict

In [17]:
d1.keys()

dict_keys(['Name', 'Rollno', 'Email-Id', 'Address'])

In [18]:
d1.values()

dict_values(['Kalyan', 221710310010, 'svnkalyan@gmail.com', 'Hyd'])

In [21]:
d1["Email-Id"] = "221710310010@gitam.in"

In [22]:
print(d1)

{'Name': 'Kalyan', 'Rollno': 221710310010, 'Email-Id': '221710310010@gitam.in', 'Address': 'Hyd'}

In [23]:
d1["Course"] = "Python"

In [24]:
d1

{'Name': 'Kalyan',
 'Rollno': 221710310010,
 'Email-Id': '221710310010@gitam.in',
 'Address': 'Hyd',
 'Course': 'Python'}

In [27]:
del d1["Name"]

In [29]:
d2 = {"Course":"Python","Language":"English","Course":"C"}## Here the Course value is updated from Python to C
d2

{'Course': 'C', 'Language': 'English'}

# Strings :-

In [30]:
s = "Python"
s[0]

'P'

In [31]:
for i in s:
    print(i)

P
y
t
h
o
n

In [32]:
print(range(len(s)))

range(0, 6)

In [33]:
s[0:6]

'Python'

In [34]:
s[0:-1]

'Pytho'

In [35]:
s[::-1]

'nohtyP'

In [36]:
s[0:6:2]

'Pto'

In [37]:
s[0:6:3]

'Ph'

In [39]:
#Palindrome of a string
def Palin(str):
    rev = str[::-1]
    if(str==rev):
        print("Yes")
    else:
        print("No")
Palin("mom")

Yes

In [41]:
def Palin(str):
    rev = str[::-1]
    if(str==rev):
        print("Yes")
    else:
        print("No")
Palin("Kalyan")

No

# String Methods :-
- join() :-Method to concatenate strings

In [44]:
s = "Python Programming"
print(" ".join(s))

P y t h o n   P r o g r a m m i n g

In [45]:
#Split :- The output is converted to list.

s3 = "Python Programming is easy to learn"
print(s3.split())

['Python', 'Programming', 'is', 'easy', 'to', 'learn']

In [46]:
#Split :- The output is converted to list.
# Here the string is splitted according to the a

s3 = "Python Programming is easy to learn"
print(s3.split('a'))

['Python Progr', 'mming is e', 'sy to le', 'rn']

In [47]:
#Replace :-
print(s3.replace("Programming","Application"))

Python Application is easy to learn